extends ./layout

block content
    .header
        .btns
            .float-left
                a(href='/') Home
            .float-right
                a(href='/logout') Logout
    .container(ng-controller='CreateProbCtrl')
        h3 Create Problem
        hr
        .row
            .col-md-6
                .panel.panel-default
                    .panel-heading.clearfix
                        h3.panel-title Create Problem
                    .panel-body
                        form(ng-submit='submit()')
                            .form-group
                                label.col-lg-4.control-label(for='probName') Problem
                                input#probName.form-control(name='name' ng-model='form.name' type='text', placeholder='Name' ng-required)
                            .form-group
                                label.col-lg-4.control-label(for='probDesc') Problem Description
                                input#probDesc.form-control(name='desc' ng-model='form.desc' type='text', placeholder='Description' ng-required)
                            button.btn.btn-success(type='submit') Submit
        .row.msg.text-center
            p(style='color:red;' ng-if='error' ng-bind='error')
            p(style='color:green;' ng-if='success' ng-bind='success')