extends layout
block head
    link(rel='stylesheet' href='/stylesheets/front.css')

block content
    .header
        //LOGO
        .float-right.btns
            a(href='login') Login
            a(href='register') Register
    .container
        #intro
            h1 submission
            p Welcome to #{title}
