doctype html
html(ng-app='app')
    head
        meta(http-equiv="content-type" content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        title #{title}
        link(rel='stylesheet' href='/stylesheets/darkly.min.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
        block head
    body(ng-cloak)
        block content
        include footer
        //Bower Components
        script(type='text/javascript', src='/jQuery/dist/jquery.min.js')
        script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/api-check/dist/api-check.min.js')
        script(type='text/javascript', src='/angular/angular.min.js')
        script(type='text/javascript', src='/angular-animate/angular-animate.min.js')
        script(type='text/javascript', src='/angular-jwt/dist/angular-jwt.min.js')
        script(type='text/javascript', src='/angular-formly/dist/formly.min.js')
        script(type='text/javascript', src='/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js')
        //Other Imports
        script(type='text/javascript', src='/ace-builds/src-min-noconflict/ace.js')
        script(type='text/javascript', src='/angular-ui-ace/ui-ace.js')
        //Angular Imports
        script(type='text/javascript', src='/js/services.js')
        script(type='text/javascript', src='/js/controllers.js')
        script(type='text/javascript' src='/js/controllers/problem.js')
        script(type='text/javascript' src='/js/controllers/dashboard.js')
        script(type='text/javascript' src='/js/controllers/room.js')
        script(type='text/javascript' src='/js/controllers/user.js')
        script(type='text/javascript', src='/js/root.js')
        block script