doctype html
html
    head
        meta(http-equiv="content-type" content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        title #{title}
        link(rel='stylesheet' href='/stylesheets/darkly.min.css')
        block head
    body
        if (!{flash}.length > 0)
            #alert
                p !{flash}

        block content
        script(type='text/javascript')
            block script
