extends ./layout

block content
    .header
        //LOGO
        .float-left.btns
            a(href='/') Main
    .container
        .container-fluid
            h3 Login Here
            hr
            .row
                .col-md-6
                    .panel.panel-default
                        .panel-heading.clearfix
                            h3.panel-title Login
                        .panel-body
                            form(method='POST', action='/login')
                                .form-group
                                    label(for='usernameInput') Username
                                    input#usernameInput.form-control(name='username', placeholder='username')
                                .form-group
                                    label(for='passwordInput') Password
                                    input#passwordInput.form-control(name='password', type='password', placeholder='password')
                                if errors
                                    p #{errors}
                                button.btn.btn-success(type='submit') Submit

