extends ./layout

block content
    div(ng-controller='problem' ng-init='loadPath();loadData()' ng-cloak)
        .header.btns
            .float-left
                a(href='/') Main
            .float-right
                a(href='/logout') Logout
        .container
            .row.text-center
                h1 #{prob_name}
                p(ng-bind='desc')
        .container
            .row
                .col-md-3
                    ul.nav.nav-pills.nav-stacked
                        li(ng-click='toggle = true' ng-class='{active: toggle == true}')
                            a Submissions
                        li(ng-click='toggle = false' ng-class='{active: toggle == false}')
                            a Tests
                .col-md-9#subContent(ng-if='toggle')
                    table.table.table-striped.table-hover(ng-if='submissions.length > 0')
                        thead
                            tr
                                th Submission Title
                                th Submitted by
                                th Description
                                th Timestamp
                                th Files
                        tbody
                            tr(ng-repeat='sub in submissions')
                                td
                                    a#downloadFile(href='/room/{{room_path}}/{{sub.name}}') {{sub.name}}
                                td {{sub.user}}
                                td {{sub.desc}}
                                td {{sub.timestamp}}
                                td {{sub.files.length}}
                                    i.fa.fa-times.cross(ng-click='removeSubmission($index)')
                    .text-center(ng-if='submissions.length == 0')
                        .alert.alert-dismissible.alert-warning
                            button.fa.fa-close.close(type='button', data-dismiss='alert')
                            p No submissions found
                #testContent(ng-if='!toggle')
                    .col-md-6
                        table.table.table-striped.table-hover(ng-if='tests.cases.length > 0')
                            thead
                                tr
                                    th Input
                                    th Output
                            tbody#cases
                                tr(ng-repeat='item in tests.cases')
                                    td {{item.in}}
                                    td {{item.out}}
                                        i.fa.fa-times.cross(ng-click="removeTest(item._id, 'cases', $index)")
                        .text-center(ng-if='tests.cases.length == 0')
                            .alert.alert-dismissible.alert-warning
                                button.fa.fa-close.close(type='button', data-dismiss='alert')
                                p No I/O cases found
                    .col-md-3
                        table.table.table-striped.table-hover(ng-if='tests.matches.length > 0')
                            thead
                                tr
                                    th Match
                            tbody#matches
                                tr(ng-repeat='item in tests.matches')
                                    td {{item.text}}
                                        i.fa.fa-times.cross(ng-click="removeTest(item._id, 'matches', $index)")
                        .text-center(ng-if='tests.matches.length == 0')
                            .alert.alert-dismissible.alert-warning
                                button.fa.fa-close.close(type='button', data-dismiss='alert')
                                p No matches found
                    //.btns.text-center
                    //    a(ng-click='toggle = true') New Test
                #createContent.row(ng-if='!toggle' ng-controller='FormControl')
                    .col-md-6.col-md-offset-3
                        form(ng-submit='submitCase()')
                            .form-group
                                label.col-lg-4.control-label(for='caseInput') Input
                                input#caseInput.form-control(ng-model='case.in' name='in' type='text', placeholder='Required' ng-required)
                            .form-group
                                label.col-lg-4.control-label(for='caseOutput') Expected Output
                                input#caseOutput.form-control(ng-model='case.out' name='out' type='text', placeholder='Required' ng-required)
                            button.btn.btn-success(type='submit') Submit
                    .col-md-3
                        form(ng-submit='submitMatch()')
                            .form-group
                                label.col-lg-4.control-label(for='matchString') Match
                                input#matchString.form-control(ng-model='match' name='match' type='text', placeholder='String to Capture' ng-required)
                            button.btn.btn-success(type='submit') Submit
            .msg.text-center
                p(style='color:red;' ng-if='error' ng-bind='error')
                p(style='color:green;' ng-if='success' ng-bind='success')

block script
    script(type='text/javascript' src='/js/controllers/problem.js')