extends ./layout

block head
    .header
        //LOGO
        .float-left.btns
            a(href='/') Main

block content
    .container
        .container-fluid
            h3 Register Here
            hr
            .row
                .col-md-6
                    .panel.panel-default
                        .panel-heading.clearfix
                            h3.panel-title Register
                        .panel-body
                            form(method='POST', action='/register')
                                .form-group
                                    label(for='fnameInput') First Name
                                    input#fnameInput.form-control(name='first_name', placeholder='first name')
                                .form-group
                                    label(for='lnameInput') Last Name
                                    input#lnameInput.form-control(name='last_name', placeholder='last name')
                                .form-group
                                    label(for='usernameInput') Username
                                    input#usernameInput.form-control(name='username', placeholder='username')
                                .form-group
                                    label(for='emailInput') Email
                                        input#emailInput.form-control(name='email', placeholder='email')
                                .form-group
                                    label(for='passwordInput') Password
                                    input#passwordInput.form-control(name='password', type='password', placeholder='password')
                                .form-group
                                    input#passwordDupInput.form-control(name='password2', type='password', placeholder='re-enter password')
                                .checkbox
                                    label
                                        input(type='checkbox')
                                        |  Remember me
                                if errors
                                    p #{errors}
                                button.btn.btn-success(type='submit') Submit