extends ./layout

block content
    .container-fluid
        h3 Login Here
        hr
        .row
            .col-md-6
                .panel.panel-default
                    .panel-heading.clearfix
                        h3.panel-title Register
                    .panel-body
                        form(method='POST', action='/login')
                            .form-group
                                label(for='usernameInput') Username
                                input#usernameInput.form-control(name='username', placeholder='username')
                            .form-group
                                label(for='passwordInput') Password
                                input#passwordInput.form-control(name='password', placeholder='password')
                            .checkbox
                                label
                                    input(type='checkbox')
                                    |  Remember me
                            if errors
                                p #{errors}
                            button.btn.btn-success(type='submit') Submit