extends layout

block content
    div(ng-controller='StudentCtrl')
        .header.btns
            .float-left
                a(href='/dashboard') Main
            .float-right
                a(href='/logout') Logout
        .container


