.header {
    display: block;
    min-height:50px;
    margin-bottom:20px;
    padding: 30px 100px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.btns a {
    font-size: 16px;
    padding: 10px 15px;
    border: solid 1px white;
    border-radius:5%;
    text-decoration: none;
    cursor: auto;
}
.btns a:hover, a:active {
    background-color: white;
    text-decoration: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-center {
    margin: 0 auto;
}

.footer {
    bottom: 0;
    position: relative;
}
.cross {
    float: right;
    margin-right: 20px;
}

.alert-warning {
    background-color:#464545;
    border-color: #464545;
}
.row {
    margin-top: 10px;
    margin-bottom: 15px;
}
