extends ./layout

block content
    .header
        //LOGO
        .float-left.btns
            a(href='/') Main
    .container(ng-controller='LoginCtrl')
        .container-fluid
            h3 Login Here
            hr
            .row
                .col-md-6
                    .panel.panel-default
                        .panel-heading.clearfix
                            h3.panel-title Login
                        .panel-body
                            form(ng-submit='login()')
                                .form-group
                                    label(for='usernameInput') Username
                                    input#usernameInput.form-control(ng-model='user.username', placeholder='username' required)
                                .form-group
                                    label(for='passwordInput') Password
                                    input#passwordInput.form-control(ng-model='user.password', type='password', placeholder='password' required)
                                button.btn.btn-success(type='submit') Submit
                    .msg.text-center
                        p(style='color:red;' ng-if='error' ng-bind='error')

