extends ./layout

block head
    .header
        //LOGO
        .float-left.btns
            a(href='/') Main
        if user
            .float-right
                a(href='/logout') Logout

block content
    .container.main-container(ng-controller='RegisterCtrl')
        .container-fluid
            h3 Register Here
            hr
            .row
                .col-md-6
                    .panel.panel-default
                        .panel-heading.clearfix
                            h3.panel-title Register
                        .panel-body
                            form(ng-submit='register()')
                                .form-group
                                    label(for='fnameInput') First Name
                                    input#fnameInput.form-control(ng-model='form.first_name', placeholder='First Name' required)
                                .form-group
                                    label(for='lnameInput') Last Name
                                    input#lnameInput.form-control(ng-model='form.last_name', placeholder='Last Name' required)
                                .form-group
                                    label(for='usernameInput') Username
                                    input#usernameInput.form-control(ng-model='form.username', placeholder='Username' required)
                                .form-group
                                    label(for='emailInput') Email
                                    input#emailInput.form-control(ng-model='form.email', placeholder='Email Address' required)
                                .form-group
                                    label(for='passwordInput') Password
                                    input#passwordInput.form-control(ng-model='form.password', type='password', placeholder='Password' required)
                                .form-group
                                    input#passwordDupInput.form-control(ng-model='form.password2', type='password', placeholder='Re-enter password' required)
                                button.btn.btn-success(type='submit') Submit
                    include ../partials/messages