extends layout

block head
    link(rel='stylesheet' href='/stylesheets/room.css')
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css")
block content
    div(ng-controller='RoomCtrl')
        if user_authenticated
            .header.btns
                .float-left
                    a(href='/dashboard') Main
                .float-right
                    a(href='/logout') Logout
            .container
                .row.text-center
                    h1 #{room_name}
                    p #{room_desc}
            .container(ng-init='loadSubmissions(); loadStudents()')
                .row
                    .col-md-3(ng-cloak)
                        ul.nav.nav-pills.nav-stacked
                            li(ng-click='selectedTab="submissions"' ng-class='{active: selectedTab=="submissions"}')
                                a(href='') Submissions
                            li(ng-click='selectedTab="students"' ng-class='{active: selectedTab=="students"}')
                                a(href='') Students
                            li.dropdown(ng-click='selectedTab="problems"' ng-class='{active: selectedTab=="problems"}' ng-mouseover='loadProblems()')
                                a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
                                    | Problems
                                    span.caret
                                ul.dropdown-menu(ng-cloak)
                                    li(ng-repeat='problem in problems')
                                        a(ng-href='/problem/{{room_path}}/{{problem.name}}') {{problem.name}}
                                    li(ng-if='problems.length == 0')
                                        a No Problems Found!
                                    li.divider
                                    li
                                        a#createProb(href='/problem/{{room_path}}') Create Problem

                    .col-md-9(ng-switch='selectedTab')
                        div(ng-switch-when='submissions')
                            table.table.table-striped.table-hover(ng-if='submissions.length > 0' ng-cloak)
                                thead
                                    tr
                                        th Submission Title
                                        th Submitted by
                                        th Description
                                        th Timestamp
                                        th Files
                                tbody
                                    tr.tableItem(ng-repeat='submission in submissions')
                                        td
                                            a(ng-href='/room/{{room_path}}/submission/{{submission._id}}') {{submission.name}}
                                        td {{submission.student.name}}
                                        td {{submission.desc}}
                                        td {{submission.timestamp | date: "MMM dd, HH:mm"}}
                                        td {{submission.files.length}}
                                            i.fa.fa-times.cross(ng-click='removeSubmission($index)')
                            .text-center(ng-if='submissions.length == 0' ng-cloak)
                                .alert.alert-dismissible.alert-warning
                                    button.fa.fa-close.close(type='button', data-dismiss='alert')
                                    p No submissions found
                        div(ng-switch-when='problems')
                            table.table.table-striped.table-hover(ng-if='problems.length > 0' ng-cloak)
                                thead
                                    tr
                                        th Problem Name
                                        th Problem Description
                                        th Number of Submissions
                                tbody
                                    tr.tableItem(ng-repeat='problem in problems')
                                        td
                                            a(href='/problem/{{room_path}}/{{problem.name}}') {{problem.name}}
                                        td {{problem.desc}}
                                        td {{problem.submissions.length}}
                                            i.fa.fa-times.cross(ng-click='removeProblem($index)')
                            .text-center(ng-if='problems.length == 0' ng-cloak)
                                .alert.alert-dismissible.alert-warning
                                    button.fa.fa-close.close(type='button', data-dismiss='alert')
                                    p No problems found
                            .row
                                .btns.text-center(ng-cloak)
                                    a(ng-href='/problem/{{room_path}}') Create Problem
                        div(ng-switch-when='students')
                            table.table.table-striped.table-hover(ng-if='students.length > 0' ng-cloak)
                                thead
                                    tr
                                        th Student Name
                                        th Student Email
                                        th Number of Submissions
                                tbody
                                    tr.tableItem(ng-repeat='student in students')
                                        td
                                            a(ng-href='/room/{{room_path}}/student/{{student._id}}') {{student.name}}
                                        td {{student.email}}
                                        td {{student.submissions.length}}
                            .text-center(ng-if='students.length == 0' ng-cloak)
                                .alert.alert-dismissible.alert-warning
                                    button.fa.fa-close.close(type='button', data-dismiss='alert')
                                    p No students found


        else
            div(ng-controller='RoomFormControl')
                    .row.text-center
                        h1 #{room_name}
                        p #{room_desc}
                .panel.panel-default
                    .panel-body
                        form#uploadForm.col-lg-4
                            .form-group
                                label.text-left.col-lg-2.control-label(for='nameInput') Title
                                .col-lg-10
                                    input.form-control#nameInput(ng-model='form.name' type='text' placeholder='Submission Title' ng-required)
                            .form-group
                                label.text-left.col-lg-2.control-label(for='userInput') Name
                                .col-lg-10
                                    input.form-control#userInput(type='text' ng-model='form.user' placeholder='Enter your name' ng-required)
                            .form-group
                                label.text-left.col-lg-2.control-label(for='emailInput') Email
                                .col-lg-10
                                    input.form-control#emailInput(type='email' ng-model='form.email' placeholder='Enter your email' ng-required)
                            .form-group
                                label.text-left.col-lg-2.control-label(for='descInput') Desc
                                .col-lg-10
                                    input.form-control#descInput(type='text' ng-model='form.desc' placeholder='Optional Description')
                            .form-group
                                label.text-left.col-lg-2.control-label(for='select') Problem
                                .col-lg-10
                                    select#select.form-control(ng-model='form.prob' ng-click='clearAttempts()')
                                        option None
                                        each
                                            option(ng-repeat='problem in problems')
                                                | {{problem.name}}
                            .fileInput
                                input(type="file" name="file" id="file" file-model='file' multiple)
                                label(for="file")
                                    i.fa.fa-upload
                                    span Choose a file...
                            button.btn.btn-default(ng-click='submit()') Upload
                        .col-lg-8
                            #editor(ui-ace="{theme: 'monokai', mode: 'python'}" ng-model='editor')
                    include ../partials/messages
                    pre#stack(ng-if='stack')
                        code.nohighlight(ng-bind='stack')
            block script
                script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js")


