extends ./layout

block content
    div(ng-controller='UserCtrl as vm')
        .header
            //LOGO
            .float-left.btns
                a(href='/dashboard') Main
            .float-right.btns
                a(href='/logout') Logout
        .container(ng-cloak)
            h1 {{vm.user.username}}
            form(ng-submit='vm.updateUserData()')
                formly-form(fields='vm.fields' model='vm.model' form='vm.updateForm')
                    button.btn.btn-success(type='submit' ng-disabled='vm.updateForm.$invalid') Update
            p.success(ng-if='vm.success' ng-bind='vm.success')
            p.error(ng-if='vm.error' ng-bind='vm.error')