extends ./layout

block content
    div(ng-controller='UserCtrl')
        .header
            //LOGO
            .float-left.btns
                a(href='/dashboard') Main
            .float-right.btns
                a(href='/logout') Logout
        .container(ng-cloak)
            h1 User Profile
            h4.text-warning {{user.username}}
        .row(ng-cloak)
            .container
                form(ng-submit='updateUserData()')
                    formly-form(fields='fields' model='model' form='updateForm')
                        button.btn.btn-success(type='submit' ng-disabled='updateForm.$invalid') Update
                include ../partials/messages